venv/
__pycache__/
*.pyc
.DS_Store

export OPENAI_API_KEY='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'